@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.top-section {
  background-color: #000000;
}

.top-section .top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 995px) {
  .top-section .top-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.top-section .top-flex .left-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 995px) {
  .top-section .top-flex .left-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.top-section .top-flex .left-one .top-para {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-section .top-flex .left-one .top-para:first-child {
  margin-left: 0px;
}

.top-section .top-flex .left-one .top-para a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-section .top-flex .left-one .top-para img {
  margin-right: 5px;
}

@media screen and (max-width: 475px) {
  .top-section .top-flex .left-one .top-para img {
    padding: 1rem;
  }
}

.top-section .top-flex .left-one .top-para p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 1rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  margin-left: 0px;
}

.top-section .top-flex .left-one .top-para p {
  font-size: 8px;
}

@media screen and (min-width: 320px) {
  .top-section .top-flex .left-one .top-para p {
    font-size: calc(8px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .top-section .top-flex .left-one .top-para p {
    font-size: 13px;
  }
}

@media screen and (max-width: 475px) {
  .top-section .top-flex .left-one .top-para p {
    display: none;
  }
}

.top-section .top-flex .right-one {
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 995px) {
  .top-section .top-flex .right-one {
    display: block;
  }
}

.top-section .top-flex .right-one a {
  text-decoration: none;
  font-size: 14px;
  width: 36px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-left: 2rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
}

.hero-section {
  background-image: url("../images/background/Hero-section-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section nav.bg-light {
  background: transparent !important;
}

.hero-section nav .nav-item a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF !important;
}

.hero-section nav .nav-item a.active {
  background: transparent !important;
  line-height: 35px;
}

.hero-section nav .nav-item a.active:hover {
  background: #FFFFFF !important;
}

.hero-section nav .nav-item a img {
  margin-left: 5px;
}

.hero-section nav .dropdown-menu {
  background: #292929;
}

.hero-section nav .dropdown-menu a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #FFFFFF !important;
}

.hero-section nav .dropdown-menu a:hover {
  color: black !important;
}

.hero-section nav .dropdown-menu .dropdown-item img {
  margin-right: 5px;
}

.hero-section nav .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  display: none;
  color: linear-gradient(125.9deg, #9C7545 -10.63%, #FCC984 78.03%, #FCC984 132.41%) !important;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.hero-section nav .main-nav-ul .main-nav-li {
  display: block;
}

@media screen and (min-width: 992px) {
  .hero-section nav .main-nav-ul .main-nav-li {
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section nav .main-nav-ul .main-nav-li {
    width: 130px;
  }
}

@media screen and (min-width: 1400px) {
  .hero-section nav .main-nav-ul .main-nav-li {
    width: 170px;
  }
}

.hero-section nav .main-nav-ul .main-nav-li.top-links {
  display: block;
}

@media screen and (min-width: 992px) {
  .hero-section nav .main-nav-ul .main-nav-li.top-links {
    display: none;
  }
}

.hero-section nav .nav-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#9E7646), color-stop(48.44%, #9C7545), to(#9C7545));
  background: linear-gradient(180deg, #9E7646 0%, #9C7545 48.44%, #9C7545 100%);
  border: none;
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.hero-section .hero-content {
  padding: 4rem 0;
}

@media screen and (max-width: 767px) {
  .hero-section .hero-content {
    padding: 1rem 0;
  }
}

.hero-section .hero-content .left-side {
  max-width: 659px;
}

@media screen and (max-width: 767px) {
  .hero-section .hero-content .left-side {
    text-align: center;
  }
}

.hero-section .hero-content .left-side h1 {
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  padding-bottom: 2rem;
}

.hero-section .hero-content .left-side h1 {
  font-size: 32px;
}

@media screen and (min-width: 320px) {
  .hero-section .hero-content .left-side h1 {
    font-size: calc(32px + 48 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .hero-section .hero-content .left-side h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section .hero-content .left-side h1 {
    padding-bottom: 1rem;
  }
}

.hero-section .hero-content .left-side h1 span {
  color: #FCC984;
}

.hero-section .hero-content .left-side p {
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.4000000059604645px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.4px;
  color: #FFFFFF;
}

.hero-section .hero-content .left-side p {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  .hero-section .hero-content .left-side p {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .hero-section .hero-content .left-side p {
    font-size: 16px;
  }
}

.hero-section .hero-content .left-side .get-in-touch-btn button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.9px;
  padding: 20px 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9E7646), color-stop(32.81%, #FCC984), color-stop(60.94%, #FCC984), to(#9C7545));
  background: linear-gradient(180deg, #9E7646 0%, #FCC984 32.81%, #FCC984 60.94%, #9C7545 100%);
  outline: none;
  border: none;
  margin-top: 10%;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .hero-section .hero-content .left-side .get-in-touch-btn button {
    margin-top: 5%;
    padding: 12px 25px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section .hero-content .left-side .get-in-touch-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-section .hero-content .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .hero-section .hero-content .right-side img {
    padding: 0rem 3rem 3rem 3rem;
  }
}

.company-logo {
  border-bottom: 1px #5B5B5B solid;
}

.company-logo .company-logo-scroller {
  padding: 2rem 0rem;
}

.company-logo .company-logo-scroller .company-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.unrivalled-inovation .top-text h3 {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.8px;
  color: #666666;
  position: relative;
}

.unrivalled-inovation .top-text h3 {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .unrivalled-inovation .top-text h3 {
    font-size: calc(25px + 7 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .unrivalled-inovation .top-text h3 {
    font-size: 32px;
  }
}

.unrivalled-inovation .top-text h3::after {
  content: "";
  height: 4px;
  max-width: 300px;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -10px;
  background: #9C7545;
}

.unrivalled-inovation .top-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: none;
}

.unrivalled-inovation .top-text p {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  .unrivalled-inovation .top-text p {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .unrivalled-inovation .top-text p {
    font-size: 16px;
  }
}

.explore-our-practice {
  background: #242424;
}

.explore-our-practice .top-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.explore-our-practice .under-arrow {
  padding-top: 3.5rem;
}

.explore-our-practice .under-arrow .top-part h3 {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 1.600000023841858px;
  text-align: center;
  color: #FFFFFF;
}

.explore-our-practice .under-arrow .top-part h3 {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .explore-our-practice .under-arrow .top-part h3 {
    font-size: calc(25px + 23 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .explore-our-practice .under-arrow .top-part h3 {
    font-size: 48px;
  }
}

.explore-our-practice .under-arrow .top-part .parra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explore-our-practice .under-arrow .top-part .parra p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.019999999552965164px;
  text-align: center;
  color: #FFFFFF;
  max-width: 768px;
}

.explore-our-practice .under-arrow .top-part .parra p {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  .explore-our-practice .under-arrow .top-part .parra p {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .explore-our-practice .under-arrow .top-part .parra p {
    font-size: 14px;
  }
}

.explore-our-practice .grid-box .grid-box-container .grid-border:first-child {
  border-right: 1px #474E57 solid;
  border-bottom: 1px #474E57 solid;
}

@media screen and (max-width: 768px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:first-child {
    border-right: none;
  }
}

.explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(2) {
  border-right: 1px #474E57 solid;
  border-bottom: 1px #474E57 solid;
}

@media screen and (max-width: 990px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(2) {
    border-right: none;
  }
}

@media screen and (max-width: 768px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(2) {
    border-right: none;
  }
}

.explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(3) {
  border-right: 1px #474E57 solid;
  border-bottom: 1px #474E57 solid;
}

@media screen and (max-width: 768px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(3) {
    border-right: none;
  }
}

.explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(4) {
  border-bottom: 1px #474E57 solid;
}

@media screen and (max-width: 768px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(4) {
    border-right: none;
  }
}

.explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(5) {
  border-right: 1px #474E57 solid;
}

@media screen and (max-width: 768px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(5) {
    border-right: none;
    border-bottom: 1px #474E57 solid;
  }
}

@media screen and (max-width: 990px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(5) {
    border-bottom: 1px #474E57 solid;
  }
}

.explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(6) {
  border-right: 1px #474E57 solid;
}

@media screen and (max-width: 990px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(6) {
    border-right: none;
    border-bottom: 1px #474E57 solid;
  }
}

@media screen and (max-width: 768px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(6) {
    border-right: none;
    border-bottom: 1px #474E57 solid;
  }
}

.explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(7) {
  border-right: 1px #474E57 solid;
}

@media screen and (max-width: 768px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:nth-child(7) {
    border-right: none;
    border-bottom: 1px #474E57 solid;
  }
}

@media screen and (max-width: 768px) {
  .explore-our-practice .grid-box .grid-box-container .grid-border:last-child {
    border-right: none;
    border-bottom: 1px #474E57 solid;
  }
}

.explore-our-practice .grid-box .grid-box-container .grid-border .grid-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  min-height: 210px;
}

.explore-our-practice .grid-box .grid-box-container .grid-para {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.2771430015563965px;
  text-align: center;
  max-width: 120px;
  color: #fff;
}

.explore-our-practice .grid-box .grid-box-container .grid-para {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  .explore-our-practice .grid-box .grid-box-container .grid-para {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .explore-our-practice .grid-box .grid-box-container .grid-para {
    font-size: 16px;
  }
}

.explore-our-practice .grid-box .outcomes-wrapper .outcomes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.explore-our-practice .grid-box .outcomes-wrapper .outcomes li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-align: center;
  padding: 2rem 2rem 0rem 2rem !important;
  width: 100%;
}

.explore-our-practice .grid-box .outcomes-wrapper .outcomes li:first-child {
  border-right: 1px #474E57 solid;
  border-bottom: 1px #474E57 solid;
}

.explore-our-practice .grid-box .outcomes-wrapper .outcomes li:nth-child(2) {
  border-right: 1px #474E57 solid;
  border-bottom: 1px #474E57 solid;
}

.explore-our-practice .grid-box .outcomes-wrapper .outcomes li:nth-child(3) {
  border-right: 1px #474E57 solid;
  border-bottom: 1px #474E57 solid;
}

.explore-our-practice .grid-box .outcomes-wrapper .outcomes li:last-child {
  border-bottom: 1px #474E57 solid;
}

.explore-our-practice .grid-box .outcomes-wrapper .outcomes li p {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.2771430015563965px;
  text-align: center;
  max-width: 120px;
}

.explore-our-practice .grid-box .outcomes-wrapper .outcomes li p {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  .explore-our-practice .grid-box .outcomes-wrapper .outcomes li p {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .explore-our-practice .grid-box .outcomes-wrapper .outcomes li p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .explore-our-practice .grid-box .outcomes-wrapper .outcomes li {
    width: calc(100% / 4);
  }
}

.explore-our-practice .learn-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explore-our-practice .learn-btn .learn-more-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#9E7646), color-stop(48.44%, #9C7545), to(#9C7545));
  background: linear-gradient(180deg, #9E7646 0%, #9C7545 48.44%, #9C7545 100%);
  border: none;
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-bottom: 3rem;
}

.not-just-lawyer {
  margin-top: 5rem;
}

.not-just-lawyer h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1.5px;
  text-align: left;
}

.not-just-lawyer h3 {
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  .not-just-lawyer h3 {
    font-size: calc(24px + 24 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .not-just-lawyer h3 {
    font-size: 48px;
  }
}

.not-just-lawyer .first-para {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #666666;
}

.not-just-lawyer .second-para {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #666666;
}
/*# sourceMappingURL=main.css.map */